body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
}


.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: rgb(199, 45, 45);
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* Footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
    color: #222222;
}

.f-info {
    width: 100%;
    text-align: center;
    height: 8rem;
    background-color: rgb(184, 179, 179);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Fixed align-items issue */
    align-items: center; /* To vertically center items */
}

.f-info-socials {
    width: 100%;
    font-size: 1.2rem;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem; /* Fixed margin-right issue */
}

/* Card */
.card{
    border:none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400;
}
.listing-link{
    text-decoration: none;
}
/* Card Effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
/*  page */
.show-img{
    height: 30vh;
}
.btns{
    display: flex;

}
.show-card{
    padding-left: 0 ;
    padding-right: 0;
}